  
  
  <%- include('../partials/header') %>
  <h1>All skills</h1>
  <ul>
    <% skills.forEach(function(s) { %>
      <li>
        <form 
          action="/skills/<%= s.id %>?_method=DELETE" 
          class="delete-form"  
          method="POST"
        >
        <button type="submit">X</button>
        </form>
        <a href="/skills/<%= s.id %>"><%= s.skill %></a>
          - 
        <%= s.done ? 'done' : 'not done' %>
      </li>
    <% }); %>
  </ul>
  <a href="/skills/new">Add skills</a>
<%- include('../partials/footer') %>
